#js_errors{
font:               italic 0.8em/1.4em 'Segoe UI', Tahoma, Arial, 'Lucida Grande', Verdana, Helvetica, sans-serif;
font-size:16px;
color:              #ffb000;
margin:             0 0 1em 0;
}
